* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 900px;
    width: 900px;
    margin: auto;
}

h1 {
    color: orangered;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---------header section start ------------*/

/*------ nav section  start ----------*/
nav {
    display: flex;
    background: #eaca88;
}

nav {
    margin-top: 25px;
    text-decoration: none;
    color: rgb(229, 19, 19);
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;

}

nav h1 {
    margin-top: 15px;
    color: rgb(246, 100, 3);
}

nav button {
    height: 40px;
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    background-color: rgba(177, 69, 69, 0.431);
}

nav .product {
    margin-right: 10px;
    background-color: rgb(236, 160, 98);
}

nav button:hover {
    box-shadow: 8px 8px 9px gray;
    color: rgb(241, 238, 243);
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(236, 115, 24, 1) 100%);
}

nav {
    background: rgb(238, 174, 202);
    background: rgb(0, 0, 0);
    background: linear-gradient(20deg, rgb(120, 105, 105) 0%, rgba(151, 71, 71, 0.545) 50%, rgb(236, 196, 139) 100%);
}

/*------ nav section  start ----------*/

/* -------head section start -------*/
.head {
    display: flex;
    gap: 30px;
    font-size: 19px;
    color: rgb(243, 117, 7);
    margin-top: 10px;
    margin-bottom: 10px;
}

.head a {
    text-decoration: none;
    color: rgb(222, 132, 14);
}

.head a:hover {
    color: rgb(248, 22, 59);
    border-bottom: 2px solid rgb(233, 16, 52);
}

/* -------head section close -------*/

/* ---------header section close ------------*/

/*-------------- main section start -----------*/
.box {
    height: 300px;
    width: 260px;
    box-shadow: 3px 5px 9px 1px rgb(120, 105, 105);
    text-align: center;
    margin: 8px;
    background: rgb(238, 174, 202);
    background: rgb(0, 0, 0);
    background: linear-gradient(20deg, rgba(0, 0, 0, 1) 0%, rgba(124, 51, 51, 0.5447442608948654) 50%, rgba(252, 176, 69, 1) 100%);
}

.img2 {
    position: absolute;
    margin-top: -105px;
    margin-left: 150px;
    color: white;
}

.shopping-bag {
    width: 20px;

}

img {
    height: 200px;
    width: 200px;

}

.product {
    margin-left: 60%;
}

.sec1 {
    display: flex;
}

.sec2 {
    display: flex;
}

.box h3,
h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.box h4 {
    color: rgb(243, 207, 6);
    margin-top: 10px;
    margin-right: 80px;
}

.bb {
    height: 300px;
    width: 260px;
    text-align: center;
    margin: 6px;
    background: rgb(165, 171, 204);
    background: linear-gradient(161deg, rgba(165, 171, 204, 1) 0%, rgba(44, 72, 21, 1) 100%);
    box-shadow: 3px 5px 9px 1px rgb(120, 105, 105);

}

#beverges h3 h4 {
    color: rgb(20, 13, 27);
}

/*-------------- main section close -----------*/